@model UserVM


<div class="form-group">
	<label asp-for="Fname"></label>
	<input class="form-control" asp-for="Fname" readonly />
	<span class="text-danger" asp-validation-for="Fname"></span>
</div>


<div class="form-group">
	<label asp-for="Lname"></label>
	<input class="form-control" asp-for="Lname" readonly />
	<span class="text-danger" asp-validation-for="Lname"></span>
</div>



<div class="form-group">
	<label asp-for="PhoneNumber"></label>
	<input class="form-control" asp-for="PhoneNumber" readonly />
	<span class="text-danger" asp-validation-for="PhoneNumber"></span>
</div>


<div class="form-group">
	<label asp-for="Email"></label>
	<input class="form-control" asp-for="Email" readonly />
	<span class="text-danger" asp-validation-for="Email"></span>
</div>



