@{
	ViewData["Title"] = "Check Youer Inbox ";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}



<a href="https://mail.google.com/" target="_blank"><input type="submit" value="Check Youer Email"></a>

