@model ResetVM ;

@{
	ViewData["Title"] = "Register";

	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}



<form action="ResetPassword" method="post">
	<div>
		<input class="text" asp-for="NewPassword" placeholder="Password">
	</div>
	<div>
		<input class="text w3lpass" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
	</div>

	<input type="submit" value="ResetPassword">
</form>



